@import "./variables.css";

.preview {
	position: relative;
	display: flex;
	height: 100px;
	margin-bottom: 10px;
}
.preview::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	box-shadow: inset 0 0 5px 2px white;
}

.preview-image {
	flex-shrink: 0;
	margin-right: 20px;
	border-radius: 10px;
	height: 100px;
	width: 100px;
	object-fit: cover;
}

.preview-details {
	position: relative;
	overflow: hidden;
}
.preview-details::after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
	z-index: 1;
}

.preview-title {
	font-family: var(--title-font);
	font-size: var(--normal);
	font-weight: bold;
}

.pin-icon {
	display: inline-block;
	position: relative;
	top: 3px;
	margin-right: 5px;
	width: 25px;
}

.article {
	position: relative;
}
.article::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200px;
	box-shadow: inset 0 0 5px 2px white;
}

.hero-photo {
	display: flex;
	margin-bottom: 20px;
	border-radius: 10px;
	height: 200px;
	width: 100%;
	object-fit: cover;
}

.content {
	margin: auto;
	max-width: 800px;
}

.content p {
	margin: 10px 0;
}

.content code {
	border: 1px solid #0022bb;
	border-radius: 5px;
	padding: 0 5px;
	background: #bbddff;
}

.separator {
	border-bottom: 1px solid var(--carbon);
	margin-bottom: 10px;
}

@media only screen and (max-width: 500px) {
	.preview-details {
		font-size: var(--small)
	}
}
