@import "./variables.css";

html, body, div, span, p, a, img,
h1, h2, h3, h4, h5, h6,
b, u, i, center, ol, ul, li,
label, button, input, select, textarea,
canvas, footer, header {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	color: inherit;
}
html {
	font: var(--normal)/1.2 var(--body-font);
	tab-size: 4;
}
:focus {
	outline: 0;
}
button, input {
	background: none;
	transition: all 100ms;
	font: inherit;
}
a, button {
	cursor: pointer;
}
ol, ul {
	padding-left: 40px;
}
::-moz-focus-inner {
	border: 0;
}
html, body {
	height: 100%;
}
h1, h2, h3, h4, h5, h6 {
	margin: 20px 0;
	font-family: var(--title-font);
}
h1 {
	font-size: var(--huge);
	font-weight: bold;
}
h2 {
	font-size: var(--huge);
	font-weight: normal;
}
h3 {
	font-size: var(--large);
	font-weight: bold;
}
h4 {
	font-size: var(--large);
	font-weight: normal;
}
h5 {
	font-size: var(--normal);
	font-weight: bold;
}
h6 {
	font-size: var(--normal);
	font-weight: normal;
}
