@import "./variables.css";

:global(.root) {
	height: 100%;
	background-color: var(--not-white);
	color: var(--carbon);
	overflow: auto;
}

.main-content {
	margin: auto;
	box-shadow: 0 0 20px 5px white;
	padding: 20px;
	max-width: 1200px;
	min-height: 100%;
	background-color: white;
}

.header {
	margin-bottom: 20px;
}

.title {
	font-family: var(--title-font);
	font-size: var(--huge);
	font-weight: bold;
}
